# MongoDB
# Opção 1: Local
# MONGO_URI=mongodb://localhost:27017/plataforma_fit

# Opção 2: MongoDB Atlas (Cloud)
# MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/plataforma_fit

# Mercado Pago
# MP_ACCESS_TOKEN=seu_access_token_aqui
